@import url("https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: #efedd6;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.main h1{
    margin: 10px;
}

.box{
    background-color: #9535f0;
    color: fff;
    display: flex;
    align-items: center;
    width: 70%;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 12px #9535f0;
    transform: translateX(400%);
    transition: transform 0.8s ease;
}